<h3>
    {{leyenda}} -- {{progreso}}
</h3>

<div class="input-group">

    <button (click)="decrementar()" class="btn btn-outline-primary" type="button">
      <i class="mdi mdi-minus-box"></i>
    </button>

    <input #txtProgress name="valProgreso" [(ngModel)]="progreso" type="number" (ngModelChange)="onChanges( $event )" class="form-control" placeholder="Introduce Porcentaje">

    <button (click)="incrementar()" class="btn btn-outline-primary" type="button">
      <i class="mdi mdi-plus-box"></i>
    </button>


</div>